<% provide(:title, @article.title) %>

<div class="container">
	<div class="span8">
		<h3><%= @article.title %></h3>
		<p><%= @article.content.html_safe %></p>

		<br>
<p>
<% unless @article.versions.first.originator.nil? %>
	Created by: <%= User.find_by_id(@article.versions.first.originator).name %></p>
<% end %>
	

<p>
<% unless @article.originator.nil? %>
	Last updated by: <%=  User.find_by_id(@article.originator).name %></p>
<% end %>

<% if signed_in? %>
		<p><%= link_to "Edit Article", edit_article_path %></p>
<% end %>
</p>
	</div>


	<p>Versions: <%= @article.versions.size %></p>
<!--<p>View version:
if @article.versions.any? %>
	@article.versions.each do |version|-->



	<ul><%= render "layouts/version" %></ul>



</div>

