<% provide(:title, @article.title) %>

<div class="container">
	<div class="span8">
		<h3><%= @article.title %></h3>
		<p><%= @article.content %></p>

		<br>
<p>
<% unless @article.versions.first.originator.nil? %>
	Created by: <%= User.find_by_id(@article.versions.first.originator).name %></p>
<% end %>
	

<p>
<% unless @article.originator.nil? %>
	Last updated by: <%=  User.find_by_id(@article.originator).name %></p>
<% end %>

<% if signed_in? %>
		<p><%= link_to "Edit Article", edit_article_path %></p>
<% end %>

	</div>

	<!--<div class="span2">
		<p>
				@article.versions.each do |version|
					unless version.reify.nil?	
						link_to "Version #{version.id}", @article.version.reify
					end
				end
		</p>
	<div/>-->



</div>

